[project]
name = "nb-cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "click>=8.0",
    "pyyaml>=6.0",
    "python-dateutil>=2.8", # fuzzy date parsing
    "python-frontmatter>=1.0", # yaml frontmatter
    "rich>=13.0", # pretty printing in CLI
    "localvectordb",
]
[project.scripts]
nb = "nb.cli:main"

[project.optional-dependencies]
dev = [
    "pytest>=7.0",
    "pytest-cov",
    "black",
    "ruff",
    "mypy",
]

[tool.uv.sources]
localvectordb = { path = "wheels/localvectordb-1.0.0-py3-none-any.whl" }
